# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [21]
        os: [ubuntu-24.04, windows-2022]
    name: Java ${{ matrix.java }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Install fxmolviewer
        run: git clone https://github.com/thsa/fxmolviewer/ && cd fxmolviewer && mvn -B -ntp clean install && cd ..
      - name: Build with Maven
        run: mvn -B -ntp package
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.os }}-${{ matrix.java }}
          path: target/dist/*
          retention-days: 5
